<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.justnow.androidsummarize">
    <!-- Wifi 信息 -->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="Main"
            android:persistableMode="persistAcrossReboots"
            android:launchMode="singleTask">
            <!-- android.intent.action.MAIN和android.intent.category.LAUNCHER同时设置会在launcher显示一个应用图标，
            单独设置android.intent.category.LAUNCHER不会出现图标，
            且一个应用程序最少要有一对。
            也可以设置多对，这样会在系统桌面出现过个应用程序图标。 -->
            <intent-filter>
                <!-- android.intent.action.MAIN ：程序最先启动的Activity可以给多个Activity设置 -->
                <action android:name="android.intent.action.MAIN" />
                <!-- android.intent.category.LAUNCHER：应用程序是否显示在桌面，可以给多个Activity配置 -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".lifecycle.LifecycleActivity"
            android:label="Lifecycle"
            android:persistableMode="persistAcrossReboots">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <!-- 必需项 -->
                <action android:name="android.intent.action.VIEW" />
                <!--表示该页面可以被隐式调用，必须加上该项-->
                <category android:name="android.intent.category.DEFAULT"/>
                <!-- 如果希望该应用可以通过浏览器的连接启动，则添加该项 -->
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="urlscheme"
                    android:host="urlhost"
                    android:port="8888"
                    android:path="/urlpath" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.justnow.lifecycleaction" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".fragment.FragmentPageActivity" />
        <activity android:name=".fragment.axdefault.AxFragmentActivity" />
        <activity android:name=".fragment.navigation.NavigationFragmentActivity" />
        <activity android:name=".multithreadhelper.MultiThreadHelperActivity" />
        <activity android:name=".okhttp.OkHttpActivity" />
        <activity android:name=".event.EventDispatchTestActivity" />
    </application> <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 文件读写 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>